.Dialog {
  @apply fixed flex h-screen items-center justify-center left-0 top-0 w-screen z-20;

  background-color: rgba(0, 0, 0, 0.6);

  &-action {
    @apply bg-white py-xs rounded-xs text-ruby-500 transition duration-300 w-full;

    -webkit-tap-highlight-color: transparent;

    &:active,
    &:hover,
    &:focus {
      @apply bg-ruby-500 text-white;
    }

    &:active,
    &:focus {
      @apply ring ring-red-200;
    }

    &:focus {
      @apply bg-ruby-600 border-ruby-600;
    }

    &:disabled {
      &:hover {
        @apply bg-gray-300 border-gray-300 text-white cursor-not-allowed;
      }

      &:active,
      &:focus {
        @apply ring-0;
      }

      @apply bg-gray-300 border-gray-300 text-white cursor-not-allowed;
    }
  }

  &-actions {
    @apply flex items-center justify-between mt-md;
  }

  &-container {
    @apply bg-white overflow-y-auto p-bs relative rounded-bs;

    max-height: 50vh;
    max-width: theme("screens.mobile");
    min-height: 56px;
    height: auto;
    width: calc(100vw - 64px);
  }

  &-content {
    max-width: calc(100% - 40px);
  }

  &-close {
    @apply absolute outline-none right-bs rounded-full text-gray-900 transition duration-300 w-md z-20;

    -webkit-tap-highlight-color: transparent;

    &:active {
      @apply bg-gray-300;
    }
  }
}
