.Home {
  @apply bg-white;
}

.List {
  @apply border border-gray-300 rounded-2xs select-none;

  &-item {
    @apply flex justify-between outline-none px-bs py-sm transition duration-300;

    -webkit-tap-highlight-color: transparent;

    &:not(:last-child) {
      @apply border-b border-gray-300;
    }

    &:active,
    &:focus {
      @apply bg-ruby-100;
    }

    &:hover {
      @apply cursor-pointer;
    }

    &Action {
      @apply flex items-center;
    }

    &Content {
      @apply mr-md w-full;
    }

    &Subtitle {
      @apply text-sm leading-5;
    }

    &Title {
      @apply font-semibold leading-4 mb-2xs text-gray-900 text-xs;
    }
  }
}

.Pagination {
  @apply flex items-center justify-end pt-sm;

  &-button {
    @apply h-md w-md bg-white outline-none rounded-2xs transition-all duration-100;

    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

    &:active {
      @apply shadow-none;
    }

    &:focus {
      @apply bg-ruby-100;
    }

    &:disabled {
      @apply opacity-50 shadow-none text-gray-700;
    }
  }

  &-page {
    @apply mx-xs select-none text-center;

    min-width: theme("spacing.md");
  }

  &-text {
    @apply mr-md text-gray-700 text-xs;
  }
}
